<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="spring_cloud_user_server.spring_cloud_user_server.mapper.RoleMapper">
	<resultMap id="BaseResultMap"
		type="spring_cloud_user_server.spring_cloud_user_server.bean.Role">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="roleDesc" property="roledesc" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, roleDesc, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from role
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findRoleByCondition" resultMap="BaseResultMap"
		parameterType="Map">
		select
		<include refid="Base_Column_List" />
		from role
		where 1=1
		<if test="roledesc != null">
			and roleDesc = #{roledesc,jdbcType=VARCHAR}
		</if>
		<if test="createTime != null">
			and create_time like #{createTime,jdbcType=VARCHAR}
		</if>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from role
		where id in
		<foreach item="idItem" collection="array" open="(" separator=","
			close=")">
			#{idItem}
		</foreach>
	</delete>
	<insert id="insert"
		parameterType="spring_cloud_user_server.spring_cloud_user_server.bean.Role">
		insert into role (id, roleDesc, create_time
		)
		values (#{id,jdbcType=VARCHAR}, #{roledesc,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="spring_cloud_user_server.spring_cloud_user_server.bean.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roledesc != null">
				roleDesc,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="roledesc != null">
				#{roledesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="spring_cloud_user_server.spring_cloud_user_server.bean.Role">
		update role
		<set>
			<if test="roledesc != null">
				roleDesc = #{roledesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="spring_cloud_user_server.spring_cloud_user_server.bean.Role">
		update role
		set roleDesc = #{roledesc,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>